body{
    color:rgb(251, 249, 252);
    background: rgb(133, 135, 136);
    margin: 0px;
    font-family:"Oswald", sans-serif;
}

header{
    border-bottom: solid 3px rgb(98, 100, 102);
    padding: 20px;
    font-size: 32px;
    color: rgb(66, 66, 66);
}

section{
    background: rgb(236, 234, 255);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}
img{
    height: 200px;
}

