body{
    color:rgb(125, 12, 182);
    background: aliceblue;
    margin: 0px;
    font-family:"Oswald", sans-serif;
}

header{
    border-bottom: solid 3px rgb(32, 12, 85);
    padding: 20px;
    font-size: 32px;
    color: rgb(84, 8, 107);
}

.chamada{
    background: rgb(236, 234, 255);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}
img{
    height: 200px;
}
.categoria-vídeos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria{
    padding-left: 20px;
    padding-right: 20px;
}
